*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
}

.logo{
    font-size: 10px;
    color:rgb(65, 65, 98);  
    text-align: left;
    padding-left: 66px;
}

    
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 56px;
    text-align: center;
}

.nav-links li a{
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    color: rgb(65, 65, 98); 
}

.nav-links button{
    padding: 8px 20px;
    background-color:white;
    border-radius: none;
    color: rgb(65, 65, 98);
    font-size: 10px;
    cursor: pointer;
}



section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(65, 65, 98);  
    color: white;
}




.body{
    text-align: left;
    padding-left: 70px;
}

.body hr{
    border: none;
    height: 2px;
    width: 120px; 
    margin: 30px 0; 
    border-radius: 2px; 
    border-top: 2px solid white;
}

.body h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.body p{
    font-size: 15px;
    margin-bottom: 30px;
}

.body button{
    padding: 10px 20px;
    background-color: rgb(65, 65, 98);  
    color: white;
    border-radius: none;
    font-size: 1rem;
    cursor: pointer;
    border-color: white;
}


.middle-image {
   top: 175px;
   right: 70px;
   position: absolute;

}

.pattern1{
    top: 100px;
    right: 10px;
    position: absolute;          
    height: auto;
    border-radius: 50%;  
}



.two{
    width: 100%;
    display: contents;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    background-color: white;
    color: rgb(65, 65, 98);  
    text-align: left;
    padding-left: 35px;
    padding-bottom: 50px;
}

.pattern2{
    border-top-left-radius: 0px;
    width: 150px; 
    height: 10px;
    padding-bottom: 2px;   
}



hr{
    border: none;
    height: 2px;
    width: 85px; 
    background-color: black;
    margin: 30px 0; 
    border-radius: 2px;  
}
   


.heading2{
    font-size: 1.2rem;
    margin-bottom: 20px; 
    padding-left: 70px;
    padding-top: 250px;
}

.features{
    padding-left: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

.features feature1 icon1{
    font-size: 10px;
}

.features feature1 h4{
    font-size: 1rem;
    margin-bottom: 20px
}

.features feature1 p{
    font-size: 10px;
    margin-bottom: 25px;  
}

.features feature2 icon2{
    font-size: 10px;
}

.features feature2 h4{
    font-size: 1rem;
    margin-bottom: 20px
}

.features feature2 p{
    font-size: 10px;
    margin-bottom: 25px;  
}

.features feature3 icon3{
    font-size: 10px;
}

.features feature3 h4{
    font-size: 1rem;
    margin-bottom: 20px
}

.features feature3 p{
    font-size: 10px;
    margin-bottom: 25px;  
}



.below{
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    padding-left: 35px;
    display: flex;
}


.box{
  display: flex;               
  justify-content: space-between; 
  align-items: center;  
  width: 900px;            
  height: 170px;             
  background-color:  rgb(65, 65, 98);   
  color: white;             
  padding: 20px;             
  border-radius: 2px;       
  margin: 0 auto; 
  text-align: left;
   
}

.box h2{
    font-size: 2rem;
    margin-bottom: 20px;
    padding-left: 37px;
}



  .right1{     
    padding: 15px 30px;
    background-color: rgb(65, 65, 98);
    color: white;
    font-size: 1rem;
    cursor: pointer; 
    border-color: white;
    margin-bottom: 30px;
    }


    .pattern3{
        border-left: 100px;
        right: 57px;
        position: absolute;          
        height: auto; 
    }


footer{
    padding-top: 100px;
    text-align: center;
    padding-left: 35px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(243, 241, 241);

}
   

.bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:   rgb(243, 241, 241);
    padding-top: 50px;
}





.logo2{
    font-size: 10px;
    color:rgb(65, 65, 98);  
    text-align: left;
    padding-left: 55px;
}

.pattern4{
    border-bottom: 100px;
    left: 10px;
    position: absolute;          
    height: auto;
    border-radius: 50%;

}
    
.media{
    list-style: none;
    display: flex;
    gap: 5px;
    text-align: center;
    padding-right: 36px;
}


.hrr{
    border: none;
    border-top: 2px solid rgb(232, 223, 223); /* Line color and thickness */
    width: 100vw; 
    margin: 0 auto 20px; 
}

.ourfooters{
    list-style: none;
    display: flex;
    gap: 140px;
    padding-right: 45px;
    padding-left: 80px;
    text-align: left;
    background-color: rgb(243, 241, 241);
    padding-bottom: 60px;
    padding-top: 50px;
    font-size: 13px;

}

.ourfooters h3{
    color: rgb(173, 162, 162);
}


.ourfooters li a{
    text-decoration: none;
    color: rgb(65, 65, 98);;
}




